{% load blog_tags %}
<!DOCTYPE html>
<html> 
<head>
   <meta charset="utf-8">
   <title>{% block title %}Build Your Personal Website from Scratch with Django{% endblock %} </title>
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'origin/newbasestyle.css' %}">
   <style>
   {% block style %}{% endblock %}
   </style>
</head>


<body><!--The following is the body of the html-->
<nav>
   <ul>
      <li><strong><div><a href="{% url 'origin' %}">OriginT</a> <span>by Ibelin Gan</span></div></li>      
      <li><a href="{% url 'blog:post_list' %}"><strong>Blog</a></li>
      <li><a href="{% url 'login' %}"><strong>Log In</a></li>
      <li><a href="{% url 'contact' %}"><strong>Contact Me</a></li>
      <li><a href="{% url 'database' %}"><strong>DMS</a></li>
      <li><a href="{% url 'admin:index' %}"><strong>Admin Site</a></li>
   </ul>
</nav>


<header>
    <h2>{% block theme %}<span>Build your personal website with Django from Scratch</span>{% endblock %}</h2>
    <p id="author">{% block author %}{% endblock %}</p>        
</header>



<section>
    {% block section %}
    {% block content %}
    <article>
    <header>
      <h2><a href="https://www.python.org">Introduction of Django</a></h2>
    </header>
    
    <p>Django is a high-level Python Web framework that encourages rapid development and clean, 
  pragmatic design. Built by experienced developers, it takes care of much of the hassle of 
  Web development, so you can focus on writing your app without needing to reinvent the wheel. 
  It’s free and open source.It is internally based on Unicode and runs on a wide range of Python
  versions from 2.4 to current versions including Python 3.</p>
     <figure>
        <img src="{% static "origin/djangoarchitecture.png" %}" width=104% height=150% alt="djangoarchitecture"/>
        <figcaption>
             Fig. 1 : The Architecture of Django
        </figcaption>
     </figure>
    </article>
  

    <article>
    <header>
      <h2><a href="https://www.python.org">Introduction of Python</a></h2>
    </header>
    
    <p>Django is a package of Python. So Python is a prerequisite for Django. Python is a widely used general-purpose, high-level programming language. 
  Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would 
  be possible in languages such as C++ or Java. The language provides constructs intended 
  to enable clear programs on both a small and large scale.</p>
     <figure>
        <img src="{% static "origin/languages.jpg" %}" width=104% height=600 alt="programming languages"/>
        <figcaption>
             Fig. 2 : Popularity of Programming Languages in 2015
        </figcaption>
     </figure>
   </article>


    <article>
    <header>
      <h2><a href="http://www.heroku.com">Introduction of Heroku</a></h2>
    </header>
    
    <p>After constructing your website, you need a platform for deployment. Heroku is a cloud platform as a service (PaaS) supporting several programming languages
  and automates your deployment with few code. Heroku, one of the first cloud platforms, 
  has been in development since June 2007, when it supported only the Ruby programming language, 
  but has since added support for Java, Node.js, Scala, Clojure, Python, PHP and Go. 
  The base operating system is Debian or, in the newest stack, the Debian-based Ubuntu.</p>
     <figure>
        <img src="{% static "origin/herokuarchitecture.png" %}" width=104% height=600 alt="herokuarchitecture"/>
        <figcaption>
             Fig. 3 : Architecture of Heroku
        </figcaption>
     </figure>
   </article>


    <article>
    <header>
      <h2><a href="https://www.git-scm.com">Introduction of Git</a></h2>
    </header>
    
    <p>Git is a free and open source distributed version control system designed to handle 
  everything from small to very large projects with speed and efficiency. Git is easy to 
  learn and has a tiny footprint with lightning fast performance. It outclasses SCM tools 
  like Subversion, CVS, Perforce, and ClearCase with features like cheap local branching, 
  convenient staging areas, and multiple workflows.</p>
  
     <figure>
        <img src="{% static "origin/git.png" %}" width=104% height=600 alt="git"/>
        <figcaption>
             Fig. 4 : Architecture of Git
        </figcaption>
     </figure>
   </article>

{% endblock %}
{% endblock %}
</section>



<aside>
    {% block sidebar %}
	<h2>Tag Cloud</h2>
		{% get_all_tags as all_tags %}
	     <ul class="tag-cloud">
	    {% for tag in all_tags %}
	        <li><p><a href="{% url 'blog:post_list_by_tag' tag.slug %}" rel="tag" class="w2">
                 {{ tag.name }}
            </a></p></li>
        {% endfor %}
        </ul>

	{% endblock %}
</aside>

</body>
</html>