{% extends "origin/newbase.html" %}


{% block style %}

form {
     padding-left:250px;
     padding-top:80px;
     }

input
  {
  width:250px;
  } 
  
#submit
  {
  padding-top:10px;
  padding-left:90px;

  } 
{% endblock %}



{% block theme %} Fill the following information to sign in {% endblock %}

{% block section %}
<form action="" method="POST">
  <table>
       {{form.as_table}}
  </table>

  {% csrf_token %}
  <p id="submit"><input type='submit' value="subscribe"></p>
</form>
{% endblock %}