Django == 1.8.6
gunicorn==19.3.0
whitenoise==2.0.4
psycopg2==2.6.1
reportlab==3.2.0
django-taggit==0.17.6
Markdown==2.6.5
markdown2==2.3.0
django-haystack==2.4.1
pysolr==3.3.3
pillow==3.1.0
celery==3.1.20
tornado==4.2.0
babel==2.2.0
django-paypal==0.2.7
celery-with-redis
django-celery