{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}

  
  {% if tags %}
   <h5>Posts tagged with: {{tags}}</h5>
  {% endif %}
  
  
  
  {% for post in posts %}
  
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a><p>     
        <p class='tags'>
           <h5>{% if post.tags.all %}Tags:{% endif %}
           
           {% for tag in post.tags.all %}
              <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                 {{ tag.name }}
              </a>
              {% if not forloop.last %},&nbsp{% endif %}
           {% endfor %}</h5>
        </p>
        
        
     </h2>
     <p class="date">
         Published {{ post.publish }} by {{ post.author }}
     </p>
     {{ post.body | markdown | truncatewords_html:30 }}
     <p>_______________________________________________________________________________________________</p>
          
  {% endfor %}
  
  
  
  {% include "blog/pagination.html" with page=posts %}
  
{% endblock %}
    