{% extends "accountbase.html" %}

{% block title %}Create an account{% endblock %}

{% block style %}
input {
      width:60%;
      }
      
#submit {
         width:20%;
         margin-left:10%;
{% endblock %}

{%block content %}
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form action="." method="post">
    <table>
        {{ user_form.as_table }}
    </table>
        {% csrf_token %}
        <p><input id="submit" type="submit" value="Create my account"></p>
    </form>
{% endblock %}