{% extends "origin/newbase.html" %}


{% block style %}
form {
     width:100%
     }
input{
  width:100%;
  }
  
#submit {
  width:10%;
  }
  
textarea{
  width:150%;
  height:100%;
  padding:5% 0;
  }
  
{% endblock %}



{% block theme %}Contact Me {% endblock %}



{% block section %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <p id="submit"><input type="submit" value="Submit"></p>
    </form>
{% endblock %}