{% extends "origin/newbase.html" %}


{% block style %}

form {
     padding-left:150px;
     }
    

#submit {
  margin-left:150px;
  }

input{
  width:250px;
  }
  
textarea{
  width:500px;
  height:300px;
  }
  
{% endblock %}



{% block theme %}Contact Me {% endblock %}



{% block section %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <p id="submit"><input type="submit" value="Submit"></p>
    </form>
{% endblock %}